.background {
    fill: none;
    pointer-events: all;
}

.feature {
    fill: #ccc;
    cursor: pointer;
}

.feature.active {
    fill: orange;
}

.mesh {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.node {
    stroke: #fff;
    stroke-width: 1.5px;
}

.link {
    fill: none;
    stroke: #bbb;
}