.background {
    fill: none;
    pointer-events: all;
}

.feature {
    fill: #ccc;
    cursor: pointer;
}

.feature.active {
    fill: orange;
}

div.tooltip {
    position: absolute;
    text-align: center;
    height: 48px;
    padding: 5px;
    font: 12px sans-serif;
    background: #ded9db;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
.mesh {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.node {
    stroke: #fff;
    stroke-width: 1.5px;
}

.link {
    fill: none;
    stroke: #bbb;
}
.transparency{
    opacity: 0.0;
    -webkit-transition: opacity 1000ms;
    -moz-transition: opacity 1000ms;
    -ms-transition: opacity 1000ms;
    -o-transition: opacity 1000ms;
    transition: opacity 1000ms;
}
.not-transparency{
    opacity: 1;
    -webkit-transition: opacity 1000ms;
    -moz-transition: opacity 1000ms;
    -ms-transition: opacity 1000ms;
    -o-transition: opacity 1000ms;
    transition: opacity 1000ms;
}

text {
    font-family: sans-serif;
}

.axis text {
    font-size: 14px;
}

.hoverable, .axis text {
    cursor: pointer;
    opacity: .9;
}

.hoverable:hover, .axis text:hover {
    opacity: .7;
}

.hoverable:active, .axis text:active {
    opacity: 1;
}

#filters {
    margin: 15px;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
}

select#month {
    width: 150px;
    display: inline-block;
}

/* SPINNER */
@-webkit-keyframes spinnerRotate
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotate
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotate
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}
#loader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 10;
}
#loader .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#loader img {
    max-width: 100px;
    -webkit-animation-name: spinnerRotate;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotate;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinnerRotate;
    -ms-animation-duration: 3s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}

.hidden {
    display: none;
}

#dashboard > div:not(#filters):not(#title):not(.checkboxes) {
    display: inline-block;
}

#dashboard > #title {
    text-align: center;
    margin: 15px;
    padding: 10px;
    background-color: #f6f6f6;
    border-radius: 5px;
}

#dashboard > #title h2 {
    color: #5f5f5f;
}
.checkboxes{
    margin-left: 120px;
    display: block ;
}
.inline{
    display: inline-block;
}
label{
    margin-right: 20px;
}